
@media (max-width: 768px) {
    .home-jumbotron .display-3 {
        font-size: 2.25rem;
    }

    .home-jumbotron .display-4 {
        font-size: 1.25rem;
    }

    .home-jumbotron .btn-lg {
        padding: .5rem .5rem;
        font-size: 0.9rem;
        line-height: 1;
        border-radius: .2rem;
    }
}

@media (max-width: 350px) {
    .home-jumbotron .display-3 {
        font-size: 2rem;
    }

    .home-jumbotron .display-4 {
        font-size: 1rem;
    }
}

.bg-bernie-light-blue {
    background-color: #2b9cd9;
}

.bg-bernie-blue {
    background-color: #00324d;
}

.bg-nmu-yellow {
    background-color: #fcb73f;
}

.nmu-yellow {
    color: #fcb73f;
}

.bg-nmu-red {
    background-color: #e23844;
}

.bg-nmu-blue {
    background-color: #405288;
}

body {
    font-family: Lato, sans-serif;
}

strong {
    font-weight: 600;
}

.home-jumbotron {
    color: white;
    border-radius: 0;
    font-family: Oswald, sans-serif;
    font-weight: 300;
}

.home-jumbotron h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.home-jumbotron .btn-outline-light {
    color: white;
    border-color: white;
}

.home-jumbotron .btn-outline-light:hover {
    color: #00324d;
}

.home-jumbotron a {
    color: #fcb73f;
    font-weight: 600;
}

.testimonial-container {
    border-top: 1px solid #999;
    padding: 10px;
}

.testimonial {
    font-style: italic;
}

.testimonial-attribution {
    text-align: right;
    font-weight: bold;
}

a.btn-outline-light {
    font-weight: normal;
}
